@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
:root {
    --main-color: rgb(81, 120, 151);
    --second-color: rgb(140,165,185);
    --bg-color: rgba(57, 58, 59, 0.575);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
    background: url("https://live.staticflickr.com/3874/14911878962_b865310cd6_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container > * {
    padding: 20px;
}

header {
    margin: 10px;
    height: 75px;
    line-height: 35px;
    font-size: 2em;
    text-align: center;
    background: linear-gradient(var(--main-color), var(--second-color));
    grid-column: span 2;
    display: flex;
}

header h1 {
    font-size: 30px;
    text-align: left;
    flex: 1;
    flex-grow: 5;
}

header button {
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 10px;
    padding: 10px;
    color: black;
    background: linear-gradient(white 20%, var(--main-color));
    border-radius: 15px;
    border: 1px solid beige;
}

.inactive {
    display: none;
}

/* 
=========================================
    Projects Sidebar
=========================================
*/

.projects {
    grid-column: 1;
    grid-row: 2;
    background: var(--bg-color);
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;     
}

.projects-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    border-top: 1px solid white;
}

.projects h1 {
    margin-bottom: 15px;
    line-height: 30px;
    width: 100%;
}

.projects p {
    margin: 15px 0;
}

.projects p:hover {
    cursor: pointer;
    color: rgba(253, 249, 0, 0.884);
    background: var(--main-color)
}

.projects button, .tasks button {
    color: black;
    background: linear-gradient(white 5%, var(--main-color));
    border: 1px solid beige;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    font-weight: 600;
    align-self: center;
    margin-top: 10px;
}

button:hover{
    background: linear-gradient(var(--main-color), var(--second-color));
    color: white;
}

button:focus {
    outline: none;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.project-item p {
    background: var(--second-color);
    padding: 10px 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.project-item svg {
    margin-left: 5px;
}

.mobile-project-add {
    display: none;
}

.projects svg, .svg-wrapper .icon {
    pointer-events: none;
}

.svg-wrapper {
    background: black;
}

/* 
=========================================
    Tasks
=========================================
*/

.tasks {
    grid-column: 2;
    grid-row: 2;
    background: var(--bg-color);
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.tasks h1 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.tasks h3 {
    font-weight: 200;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 10px;
}

.tasks input[name=description] {
    font-weight: 200;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 10px;
}

.tasks input[type=text] {
    width: 80%;
}

.tasks .date {
    font-size: 15px;
    font-weight: 400;
    text-align: right;
}

.tasks .date div {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}

.tasks ul {
    list-style-type: none;
    width: 100%;
}

.tasks li {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.tasks svg {
    font-size: 12px;
    align-self: center;
}

.tasks input {
    background: none;
    border: none;
    margin-top: 20px;
    padding: 5px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

.tasks .btns {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btns button {
    margin-left: 10px;
    font-size: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    align-self: flex-end;
}

.task-item {
    line-height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: baseline;
    padding: 10px;
}


/* 
=========================================
    Modal - New Project
=========================================
*/



.modal-container {
    background: rgba(63, 65, 66, 0.7);
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal {
    background: linear-gradient(var(--main-color), var(--second-color));
    border-radius: 10px;
    width: 200px;
    height: 290px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

.modal h1 {
    flex-basis: 30px;
}

.modal form {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.modal input, .modal select {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: black;
    border: none;
}

.modal input::placeholder {
    color: gray;
}

.modal button {
    margin-top: 20px;
    color: black;
    height: 30px;
    width: 60%;
    border-radius: 15px;
    font-weight: 600;
}

.modal span {
    align-self: flex-end;
    padding: 5px;
}

.modal span:hover {
    cursor: pointer;
}

.active {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-flow: column;
    }

    .projects, .tasks {
        margin: 10px;
    }

    .tasks {
        flex-grow: 3;
    }

    .projects {
        overflow: visible;
        display: relative;
        flex-basis: 75px;
    }
    
    .projects-container button {
        display: none;
    }

    .projects-container {
        display: none;
    }

    .mobile-project-add {
        display: block;
        float: right;
        position: relative;
        bottom: 10px;  
    }

    .projects:hover .projects-container {
        display: flex;
        overflow: visible;
    }
}
