* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
    background: url("https://live.staticflickr.com/5511/14223028661_d3c1aeafc0_b.jpg");
}

.container > * {
    padding: 20px;
}

header {
    margin: 10px;
    height: 75px;
    line-height: 35px;
    text-align: center;
    background: rgba(100,149,237, 0.3);
    grid-column: span 2;
}

/* 
=========================================
    Projects Sidebar
=========================================
*/

.projects {
    grid-column: 1;
    grid-row: 2;
    background: rgba(100,149,237, 0.3);
    margin-left: 10px;
    margin-bottom: 20px;
}

/* 
=========================================
    Tasks
=========================================
*/

.tasks {
    grid-column: 2;
    grid-row: 2;
    background: rgba(100,149,237, 0.3);
    margin-right: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

