@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
:root {
    --main-color: rgb(87,129,163);
    --second-color: rgb(140,165,185);
    --bg-color: rgba(57, 58, 59, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
    background: url("https://live.staticflickr.com/3874/14911878962_b865310cd6_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container > * {
    padding: 20px;
}

header {
    margin: 10px;
    height: 75px;
    line-height: 35px;
    font-size: 2em;
    text-align: center;
    background: linear-gradient(var(--main-color), var(--second-color));
   
    grid-column: span 2;
}

/* 
=========================================
    Projects Sidebar
=========================================
*/

.projects {
    grid-column: 1;
    grid-row: 2;
    background: var(--bg-color);
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;
    
    
}

.projects > * {
    flex-basis: 40px;
}

.projects h1 {
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 2px solid white;
}

.projects p {
    margin: 15px 0;
}

.projects p:hover {
    cursor: pointer;
    color: rgba(253, 249, 0, 0.884);
}

.projects button {
    color: white;
    text-shadow: 1px 1px black;
    background: linear-gradient(var(--main-color), var(--second-color));
    border: 1px solid var(--bg-color);
    height: 30px;
    width: 100px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    align-self: center;
    margin-top: 10px;
}

button:hover{
    background: linear-gradient( rgb(253, 186, 0), rgb(253, 0, 76))
}

button:focus {
    outline: none;
}


/* 
=========================================
    Tasks
=========================================
*/

.tasks {
    grid-column: 2;
    grid-row: 2;
    background: rgba(57, 58, 59, 0.3);
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.tasks h3 {
    font-weight: 200;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 10px;
}

.tasks input[name=description] {
    font-weight: 200;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 10px;
}

.tasks .date {
    float: right;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
}

.tasks .date div {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
}

.tasks ul {
    list-style-type: none;
    width: 100%;
}

.tasks li {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.tasks svg {
    font-size: 12px;
    align-self: center;
}

.tasks input {
    background: none;
    border: none;
    margin-top: 20px;
    padding: 5px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

.tasks .btns {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btns button {
    color: white;
    text-shadow: 1px 1px black;
    background: linear-gradient(var(--main-color), var(--second-color));
    border: 1px solid var(--bg-color);
    border-radius: 15px;
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
    padding: 10px;
    align-self: flex-end;
}

.task-item {
    line-height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: baseline;
    padding: 10px;
}


/* 
=========================================
    Modal - New Project
=========================================
*/


.modal-container {
    background: rgba(63, 65, 66, 0.7);
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal {
    background: linear-gradient(var(--main-color), var(--second-color));
    border-radius: 10px;
    width: 200px;
    height: 290px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

.modal h1 {
    flex-basis: 30px;
}

.modal form {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.modal input, .modal select {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: black;
    border: none;
}

.modal input::placeholder {
    color: gray;
}

.modal button {
    margin-top: 20px;
    color: black;
    height: 30px;
    width: 60%;
    border-radius: 15px;
    font-weight: 600;
}

.modal span {
    align-self: flex-end;
    padding: 5px;
}

.modal span:hover {
    cursor: pointer;
}

.active {
    display: flex;
}


